{{ define "main" }}
<div id="main" class="index list content">
  <div role="banner" class="logo-container">
    <a href="/" class="logo">{{ .Site.Title | upper }}</a>
    {{ with .Site.Params.tagline }}<p class="main-logo-title">{{ . }}</p>{{ end }}
  </div>

  {{ with .Content }}
    <article class="page-content">{{ . }}</article>
  {{ end }}

  <div class="post-group">
    <ul>
      {{ range (where .Site.RegularPages "Section" "blog").ByDate.Reverse }}
        {{ partial "post-item.html" . }}
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
